{% extends '@App/Security/admin_home.html.twig' %}
{% block show_reservation %}
<br>
<center><h4>Détails de réservation n° {{ reservation.id }}</h4><br><br>

    <style>
        div {
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
    <div class="card text-white bg-info mb-50" style="max-width: 1000px;">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h3 class="card-title"><br><br>
            </h3>
            <p class="card-text">Nom: {{ reservation.user.nom }} <br><br>Prénom: {{ reservation.user.prenom }}
                <br><br>
                Numéro de telephone: {{ reservation.user.tel }}<br><br>Date de
                réservation: {{ reservation.date|date('Y-m-d H:i:s') }}<br><br>
                Type de réservation: {{ reservation.type }}<br><br>
                Nombre de personne: {{ reservation.nbrepers }}<br><br><br>

            </p>
        </div>
    </div>
    <br>
    <ul class="record_actions">

        <a class="btn" href="{{ path('reservation_index') }}">
            Retour
        </a> &nbsp;&nbsp;
        <a class="btn" href="{{ path('foodcorner_menuu_plat_remove', { 'id': reservation.id }) }}">
            Supprimer
        </a>
    </ul>

    {% endblock %}
