{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post','attr': {'class': 'fos_user_registration_register '}}) }}


<div class="form-group">
    <label for="exampleInputEmail1">Nom d'utilisateur</label>
    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
    {{ form_errors(form.username) }}
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Nom </label>
    {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': ''|trans } }) }}
    {{ form_errors(form.nom) }}
</div>


<div class="form-group">
    <label for="exampleInputEmail1">Prenom</label>
    {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': ''|trans } }) }}
    {{ form_errors(form.prenom) }}
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Adresse Email</label>
    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
    {{ form_errors(form.email) }}
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Adresse</label>
    {{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'placeholder': ''|trans } }) }}
    {{ form_errors(form.adresse) }}
</div>


<div class="form-group">
    <label for="exampleInputEmail1">Numéro de téléphone</label>
    {{ form_widget(form.tel, { 'attr': {'class': 'form-control', 'placeholder': ''|trans } }) }}
    {{ form_errors(form.tel) }}
</div>








<div class="form-group">
    <label for="exampleInputEmail1">Mot de passe</label>
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
    {{ form_errors(form.plainPassword.first) }}
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Répéter mot de passe</label>
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
    {{ form_errors(form.plainPassword.second) }}
</div>

<br>
<div>
    <input type="submit" class="btn" value="{{ 'registration.submit'|trans }}" href="" />
</div>

{{ form_end(form) }}

