{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="row">
</div>
<div class="form-group">
    <label for="fos_user_change_password_form_current_password">Mot de passe actuel</label>
    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'form.current_password'|trans } }) }}
    {{ form_errors(form.current_password) }}
</div>

<div class="form-group">
    <label for="fos_user_change_password_form_plainPassword_first">Nouveau mot de passe</label>
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
    {{ form_errors(form.plainPassword.first) }}
</div>

<div class="form-group">
    <label for="fos_user_change_password_form_plainPassword_second">Répéter mot de passe</label>
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
    {{ form_errors(form.plainPassword.second) }}
</div>

<br>
<div>
    <input type="submit"  class="btn" value="{{ 'profile.edit.submit'|trans }}" /> &nbsp;&nbsp;
</div>
{{ form_end(form) }}<br>


